.Card{
    margin: 20px;
    width: auto;
    height: 350px;
    background: rgb(228, 221, 221);
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    overflow: hidden;
}
.upper-container{
    height: 50px;
    background: linear-gradient(to left, #2d00f7, red);
}
.image-container{
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(120px,15px);
    border: 1px solid black;
    box-shadow: 0px 1px 10px 1px black;
}
img{
    border-radius: 50%;
}
.lower-container{
    padding: 45px 25px 0 20px;
    text-align: center;
    height: 300px;
    background: rgb(228, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
}
.lower-container h3{
    margin-bottom: 5px;
    color: rgb(37, 12, 124);
    font-weight: 800;
    font-size: 15px;
}
.lower-container h4{
    margin: 0;
    margin-bottom: 5px;
    color: black;
    font-weight: 700;
    font-size: 12px;
}
.lower-container p{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
    font-size: 11px;
    line-height: 15px;
}
.akun{
    align-items: center;
    text-align: center;
    padding: 10px;
}
button{
    margin: 10px 5px 8px 5px;
    color: black;
    font-size: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
    padding: 5px;
    box-shadow: 0px 1px 10px 1px black;
}
#middle{
    vertical-align: text-bottom;
}
button:hover{
    background-image:linear-gradient(to left, #27838f, #36236f);
    color: white;
    border: 1px solid white;
}